{% extends 'lotto/base.html' %}

{% block title %}Impossible Lotto{% endblock %}

{% block content %}
  <div>
    <h2><p><a href="{% url 'new_data' %}">Crawling</a></p></h2>
    <h2><p><a href="{% url 'new_lotto' %}">Generate</a></p></h2>
    <h2><p><a href="{% url 'list_lotto' %}">list</a></p></h2>
  </div>

  <div>
    {% load static %}
    <h1>Don Quixote</h1>
    <img width="455.5" height="574.5" src="{% static '/donquixote.jpg'%}"/>
    <p>Dream the impossible</p>
    <p>Do the impossible love</p>
    <p>Fight with unwinnable enemy</p>
    <p>Resist the unresistable pain</p>
    <p>Catch the uncatchable star in the sky</p>
  </div>

{% endblock %}
